body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #e1306c;
}
/* CCONNECT WALLET */



/* CREATE NEW POST */
#newPost {
    align-items: center;
    text-align: center;
}

/* FEED / RECENT POSTS*/
#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    padding: 10px;
}

.post img {
    width: 100%;
    border-radius: 10px;
}

button {
    border: none;
    background-color: #e1306c;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #c72560;
}