body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #fff, #ffeef5);    
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: linear-gradient(to bottom, #f5f7da,  #ffeefd);
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#accountAddr {
    border-radius: 12px;
    height: 28px;
    width: max-content;
    padding-bottom: 20px;
    margin: 10px;
}

#contractAddr {
    border-radius: 12px;
    height: 23px;
    width: 200px;
}


#createAccount {
    width: max-content;
    align-items: right;
    background-color: #e1306c;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

/* CREATE NEW POST */
#newPost {
    align-items: center;
    margin: 40px;
    padding: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FEED / RECENT POSTS*/
#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 40px;
    padding: 5px;
}

.post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    padding: 10px;    
}

.post img {
    width: 100%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

button {
    border: none;
    background-color: #e1306c;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #c72560;
}

/* Tipping */
#tip {
    position: fixed;
    top: 180px;
    right: 35px;
    width: 325px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 16px;
    font-family: "Poppins", sans-serif;
}

.tipDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8dede;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.tipHeader h3{
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 12x;
    border-radius: 8px;   
    text-align: center;
}

.tipHeader{
    background-color: #f56e9b;
    width: 100%;
    border-radius: 12px;
}

.tipBody {
    width: 100%;    
}

.userSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.userSelect h4{
    font-size: 1rem;
    color: #333;
    margin-bottom: 6px;
}

#tipUser {
    width: 310px;
    padding: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
}

#tipUser:focus {
    border-color: #e1306c;
}

.amount h4{
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}

#tipAmount {
    width: max-content;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.2s ease;
    margin-left: 5px;
}

#tipAmount:focus {
    border-color: #e1306c;
}

#tipAmountBtn {
    width: 90px;
    background-color: #e1306c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px;
}

#tipAmountBtn:hover {
    background-color: #c7265e;
    transform: translateY(-2px);
}

/* PROFILE */
#profileBox {
    position: fixed;
    left: 40px;
    top: 180px;
    width: 320px;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 18px;
    font-family: "Poppins", sans-serif;
    
}

.profileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8dede;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.profileHeader {
    background-color: #f56e9b;
    width: 100%;
    border-radius: 12px;
}

.profileHeader h3{
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 12x;
    border-radius: 8px;   
    text-align: center;
}

.profileBody p{
    text-align: center;
    color: #333;
    font-size: 0.95rem;
    margin-bottom: 8px;
}

/* CONNECT WALLET */
#connectWallet {
    width: 100%;
    background-color: #e1306c;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}
#connectWallet:hover {
    background-color: #c7265e;
    transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 900px){
    #profileBox {
        position: static;
        width: 90%;
        margin: 20px auto;
    }
}